<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="right1.css">
    
</head>
<body>

    <header>
        <a class="logo" href="/"><img class= "logo"src="/Images/logo.png" alt="logo"></a>

        <a class="cta" href="https://www.childlineindia.org/a/about/childline-india#:~:text=Call%201098%20%E2%80%93%20Any%20child%20or,2"> <!-- Add the URL here -->
            <button class="GetHelp">Get Help 📞</button>
        </a>
        
    </header>

    <div class="video">

        <img src="/Images/Icons/canvas.png" class="base-canvas">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/mLxnxy_MjnY?si=DXJC_uyCKLXnjMLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="player"></iframe>

    </div>

    
    
</body>
</html>